AnypointStudio/studio-workspace/say-hello-mule4-docker-docker/src/main/mule/say-hello-mule4-docker.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f3f51c6a-463a-4cca-85bc-575fa8069236" basePath="/test" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="say-hello-mule4-dockerFlow" doc:id="fab55560-f415-48f6-8e30-c882ba1b0dcc" >
		<http:listener doc:name="Listener" doc:id="3ab073c8-341c-4c85-b3a0-e75b38778384" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value="#['Hello from Mule ESB (Version: ' ++ mule.version ++ '). I am running inside docker image javastreets/mule.']" doc:name="Set Payload" doc:id="b6c04ee9-6b59-46ce-8b79-1a20b63851f8" mimeType="text/plain"/>
		<set-variable value="#[message.attributes.headers]" doc:name="Set Variable" doc:id="2b0d9893-0e8f-4409-91d6-600aeb742325" variableName="cabeceras"/>
		<logger level="INFO" doc:name="Logger" doc:id="283217c9-26c2-4ad2-9df4-0d52efb9f4e9" message='#[output application/json
---
{
	"headers": vars.cabeceras,
	"time": now(),
	"Description": "Hello from Mule ESB (Version: " ++ mule.version ++ "). I am running inside docker image javastreets/mule."
}]'/>
	</flow>
	<flow name="Copy_of_say-hello-mule4-dockerFlow" doc:id="19657944-bf4e-4668-9eed-c009d5c5146d" >
		<http:listener doc:name="Listener" doc:id="8fe3d88e-fb84-4e59-ab1f-ba87c8f764ea" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value="#['Hello from Mule ESB (Version: ' ++ mule.version ++ '). I am running inside docker image javastreets/mule.']" doc:name="Copy_of_Set Payload" doc:id="4ca855b8-51f6-4f71-83cb-bc0ca8fce71d" mimeType="text/plain" />
		<set-variable value="#[message.attributes.headers]" doc:name="Copy_of_Set Variable" doc:id="4fef998a-ba19-4b88-82ef-cc655903f211" variableName="cabeceras" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="f26d01cf-bf39-48b3-831a-740bebc62257" message='#[output application/json
---
{
	"headers": vars.cabeceras,
	"time": now(),
	"Description": "Hello from Mule ESB (Version: " ++ mule.version ++ "). I am running inside docker image javastreets/mule."
}]' />
	</flow>
</mule>
